.day__table {
  border-collapse: collapse;
}

.day__header-row {
  background-color: #EEF3E2;
}

.day__row {
  background-color: #FDFDF0;
}

.day__row:nth-child(even) {
  background-color: #FBF5E6;
}

.day__cell {
  padding: 1.25rem .625rem 1.25rem .3125rem;
  vertical-align: top;
}