html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 20px;
  font-family: 'Francois One', sans-serif;
  color: #385f71;
  background-color: rgba(242, 246, 208, 0.1);
}
